name: ClipFlow Build

on:
  push:
    branches: [ "release" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore ClipFlow.sln

    - name: Build
      run: dotnet build ClipFlow.sln --configuration Release --no-restore

    - name: Publish
      run: dotnet publish ClipFlow/ClipFlow.csproj --configuration Release --no-build --output ./publish

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ClipFlow-Release
        path: ./publish
